
.calc-app {
  background-color: hwb(193 3% 7%);
  border: 2px red;
  
  margin: 0  auto;
  margin-top: 40px;
  width: 350px;
  padding: 2%;
  
}
.keyword {
  background-color: rgb(43, 243, 3);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px,auto);
}

input{
  background-color: rgb(199, 243, 243);
  height: 60px;
  width: 342px;
  
}
#clear{
  background-color: antiquewhite;
  color: red;
  grid-column: 1/3;
  grid-row: 1;
}
#result{
  background-color: antiquewhite;
  color: rgb(27, 0, 233);
  grid-column: 3/5;
  grid-row: 5;
}